
{% extends 'base.html' %}
 {% block header %}

   {% endblock %}
{% block content %}

<div class="list-group mt-3">

        <div class="list-group-item disabled text-center ">
            <h1 style="color: #000000">Open Grand Final</h1>
        </div>


          <div class="list-group-item px-1 px-md-4 pb-0 text-center">

            <h3 class="mb-4 mt-2">
                <div>
                    平凡的漫漫人生和精彩的短暂一生
我该选哪个？
                </div>
                 <br/>
             <div> Resolved: A Long and Mediocre Life is
Perferable to a Short but Exceptional One
            </h3></div>


     <div class="list-group-item  text-center ">
                     <h2 style="color: #000000">Initial Result</h2>
            <div class="row">
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted">
        results from {{gf.global_sum}} votes

          <br/>
      </h4>
    </div>
  </div>

<div class="col-sm-12">
<div class="progress" style="height: 40px">




          <div class="progress-bar"  style="width: {{gf.gov_percentage}}; background-color: #56bf8b;font-size: 20px" data-toggle="tooltip" title="" data-original-title="3 of 4 teams on OO (75%) advanced">

              平凡漫漫 {{gf.gov_percentage}}

          </div>
          <div class="progress-bar" style="width: {{gf.opp_percentage}};background-color: #d1355f;font-size: 20px" data-toggle="tooltip" title="" data-original-title="1 of 4 teams on OO (25%) were eliminated">

              精彩短暂 {{gf.opp_percentage}}

          </div>

        </div>
    </div>

<div class="col-sm-12">




  <div class="row">



      <div class="col-md-6 mb-6">

        <h4 class="mt-2 text-center text-cg">
          平凡漫漫: {{gf.gov_vote}} Votes
        </h4>
      </div>



      <div class="col-md-6 mb-6">

        <h4 class="mt-2 text-center text-co">
          精彩短暂: {{gf.opp_vote}} Votes
      </div>


  {% if first_vote == "done" %}
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted" style="color: #ff0000">
        You have voted in this round.

          <br/>
      </h4>
    </div>
  </div>
     {% endif %}
  {% if first_vote == "closed" %}
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted" style="color: #ff0000">
        This round of vote has been closed.

          <br/>
      </h4>
    </div>
  </div>
     {% endif %}


  </div>



</div>



            </div>

          </div>

      </div>

  {% if first_vote == "true" %}
<form method="post" action="/submit_ballot_init">


                <div class="row">
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted">

          <div><br/><br/>

              Stance: <select name = "vote">
  <option value ="AFF">平凡慢慢</option>
  <option value ="NEG">精彩短暂</option>
</select>

          </div>
          <br/>
       <button type="submit" style="background-color: #56bf8b;font-size: 18px" class="btn btn-success">Submit</button>
       {% csrf_token %}
      </h4>
    </div>
  </div>


</form>
      {% endif %}
     {% if stage2 == "true" %}
         <div class="list-group-item  text-center ">
                     <h2 style="color: #000000">Final Result</h2>
            <div class="row">
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted">
        results from {{gf2.global_sum}} votes

          <br/>
      </h4>
    </div>
  </div>

<div class="col-sm-12">
<div class="progress" style="height: 40px">




          <div class="progress-bar"  style="width: {{gf2.gov_percentage}}; background-color: #56bf8b;font-size: 20px" data-toggle="tooltip" title="" data-original-title="3 of 4 teams on OO (75%) advanced">

              平凡慢慢 {{gf2.gov_percentage}}

          </div>
          <div class="progress-bar" style="width: {{gf2.opp_percentage}};background-color: #d1355f;font-size: 20px" data-toggle="tooltip" title="" data-original-title="1 of 4 teams on OO (25%) were eliminated">

              精彩短暂 {{gf2.opp_percentage}}

          </div>

        </div>
    </div>


<div class="col-sm-12">




  <div class="row">



      <div class="col-md-6 mb-6">

        <h4 class="mt-2 text-center text-cg">
          平凡慢慢: {{gf2.gov_vote}} Votes
        </h4>
      </div>



      <div class="col-md-6 mb-6">

        <h4 class="mt-2 text-center text-co">
          精彩短暂: {{gf2.opp_vote}} Votes
      </div>

   {% if 2nd_vote == "true" %}
<form method="post" action="/submit_ballot_gf">


                <div class="row">
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted">

          <div><br/><br/>

              Best Speaker :{{forms.best_speaker}} <br/><br/>
              Champion: {{forms.winner}}

          </div>
          <br/>
       <button type="submit" style="background-color: #56bf8b;font-size: 18px" class="btn btn-success">Submit</button>
       {% csrf_token %}
      </h4>
    </div>
  </div>


</form>
      {% endif %}
        {% if 2nd_vote == "done" %}
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted" style="color: #ff0000">
        You have voted in this round.

          <br/>
      </h4>
    </div>
  </div>
     {% endif %}

        {% if 2nd_vote == "closed" %}
  <div class="row">
    <div class="col">
      <h4 class="mt-2 text-center text-muted" style="color: #ff0000">
        This round of vote has been closed.

          <br/>
      </h4>
    </div>
  </div>
     {% endif %}
  </div>



</div>



            </div>

          </div>

      </div>
    {% endif %}
</div>



{% if update == "true" %}

<script language="JavaScript">
function myrefresh(){
   window.location.reload();
}
setTimeout('myrefresh()',1000); //指定1秒刷新一次
</script>
{% endif %}

{% endblock %}