{% extends 'base.html' %}
{% block content %}
<div class="page-header">
        <h1>Rubic</h1>
      </div>
<h1>Rubic</h1>

<h2>Logistics</h2>

<ul><li>Each <strong>Speech</strong> must be scored, the score of a speaker will be the average of all his or her speech scores.</li><li>Make sure you have entered a <strong>Username</strong> before submission.</li><li>Do not submit more than one ballot for a particular round under the same username, if you entered the wrong ballot, tell me ASAP.</li></ul>

<h2>Score Range</h2>

<ul><li>Each score should be an <strong>Integer</strong> between 0-80</li><li>Average should be around 60</li><li>Do not give full scores or scores below 40 unless absolutely necessary</li></ul>

<h2>Score Breakdown:</h2>
<table>
<thead>
<tr>
<th>Criteria</th>
<th style="text-align:right">Scores</th>
</tr>
</thead>
<tbody>
<tr>
<td>Style</td>
<td style="text-align:right">20</td>
</tr>
<tr>
<td>Content</td>
<td style="text-align:right">30</td>
</tr>
<tr>
<td>Logic</td>
<td style="text-align:right">20</td>
</tr>
<tr>
<td>Language</td>
<td style="text-align:right">10</td>
</tr>
</tbody>
</table>

<h2>Explanation:</h2>

<ul><li><strong>Style:</strong> Overall delivery of speech, such as signposting, pause, etc</li><li><strong>Content:</strong> Understanding of the topic demonstrated by speaker in his or her speech. Speaker should be awards a high content score if he or she employed many valid examples to support his or her points.</li><li><strong>Logic:</strong> Logical consistency and validity of the arguments given</li><li><strong>Language:</strong> The quality of sentence structure. Spakers should be given full language scores unless there are sentences which are extremely difficult to understand, or constant use of fillers words such as &#39;ah-&#39;, &#39;eh-&#39;.</li></ul>
{% endblock %}